* {
    font-family: 'Philosopher', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}


/* ----------------------- HEADER  ---------------------*/
:root {
    --colorPrincipal: #213e60;
    --colorSecundario: #f4f2ef;
    --colorTerciario: #94B6EF;
    --colorCuternario: #e68c3a;
}

header {
    display: flex;
    height: 10vh;
    background-color: var(--colorPrincipal);
    position: sticky;
}

.navBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-list {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navBrand {
    margin-left: 5em;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombreNav {
    font-weight: 700;
    font-size: 1.4em;
    color: var(--colorSecundario);
    text-align: center;
}

.nav-item,
.nav-item a {
    color: var(--colorSecundario);
}

.subrayado {
    text-decoration: none;
    font-size: 1.1em;
    transition: .5s all ease-in-out;
    margin: 0 .6em;
    position: relative;
    display: inline-block;
}

.subrayado::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--colorTerciario);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .4s ease-out;
}

.subrayado:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.subrayado:hover {
    color: #94B6EF;
}

/*------------------------------------- MAIN ------------------------------*/

#bienvenida {
    padding: 2em;
    min-height: 100vh;
    background-color: var(--colorSecundario);
}

.titulo {
    font-size: 4rem;
}

.recibimiento img {
    width: 100%;
    height: 100%;
}


.contenedorDeFilas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
}

.card {
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding: 0;
    transition: .5s all ease-in-out;
}

.card-body {
    height: fit-content;
}

.row {
    height: 100%;
    width: 100%;
}

.card:hover {
    transform: translateY(-10px);
}

#misHorarios {
    justify-content: flex-start;
    padding: 2em;
    height: 100vh;
    background-color: var(--colorTerciario);
}

#misHorarios article {
    height: 100%;
    display: flex;
    align-items: center;
}


.tituloSecundario {
    font-size: 2.5rem;
    color: var(--colorPrincipal);
}

.contenedorTituloHorarios {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: baseline;
}

#horariosDe {
    font-size: 1.3em;
    color: #303030;
}

.botonCancelar {
    border: none;
    background: transparent;
}

.botonCancelar i {
    transition: .5s all ease-in;
}

.botonCancelar i:hover {
    transform: translateY(-3px);
}

.botonCancelar i:active {
    transform: scale(1.5);
}

#accesibilidad {
    padding: 6em;
    min-height: 100vh;
    background-color: var(--colorSecundario);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedorForosClases {
    margin-top: 2em;
    display: flex;
}

.iconos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.iconos i {
    font-size: 4em;
    color: var(--colorPrincipal);
    transition: .5s all ease-in;
}

.iconos i:hover {
    color: var(--colorCuternario);
    transform: scale(1.1);
}


.foros,
.clases {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*------------------------------------ FOOTER --------------------------*/

footer {
    display: flex;
    flex-direction: column;
    height: auto;
}

.filaSuperiorFooter {
    padding: 2em;
    background-color: var(--colorCuternario);
    ;
    display: flex;
    height: 90%;
    width: 100%;
}

.filaInferiorFooter {
    height: 30%;
}

#redes,
#contacto {
    width: 50%;
}

.redesFooter {
    height: 80%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redesFooter li i {
    font-size: 2em;
}


.ubicacionFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.mapa {
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.filaInferiorFooter {
    background-color: var(--colorPrincipal);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.derechosReservados {
    text-align: center;
    color: #fafafa;
}

#seminarios {
    display: flex;
    align-items: center;
    padding: 2em;
    background-color: var(--colorTerciario);
    min-height: 100vh;
}

/*------------------------- MEDIAS QUERIES-----------------------*/

@media screen and (max-width: 860px) {
    #accesibilidad {
        padding: 2em;
    }
    .nombreNav {
        font-size: 1.5em;
    }
    .contenedorForosClases {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 60%;
    }
    .tituloSecundario {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .nombreNav {
        font-size: 1.2em;
    }

    .navBar {
        width: 100%;
    }

    .navBrand {
        margin-left: 2em;
    }

    .nav-list {
        width: 100%;
    }

}

@media screen and (max-width: 560px) {
    .filaSuperiorFooter {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #ubicacion,
    #redes {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 676px) {
    .login {
        height: 30em;
    }
    .foros,
    .clases {
        width: 100%;
        margin: 2em;
    }
    .navBrand {
        display: none;
    }

    .metodos {
        flex-direction: column;
        height: 30em;
        justify-content: space-around;
    }

    .accordion {
        width: 100%;
    }
}

@media screen and (max-width:436px) {
    .titulo {
        font-size: 2rem;
    }
    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item i {
        margin-bottom: 5px;
    }
}