* {
     font-family: 'Philosopher', sans-serif;
     list-style: none;
     scroll-behavior: smooth;
}

/* ----------------------- HEADER  ---------------------*/
:root {
     --colorPrincipal: #213e60;
     --colorSecundario: #f4f2ef;
     --colorTerciario: #94B6EF;
     --colorCuternario: #e68c3a;
}

header {
     display: flex;
     height: 10vh;
     background-color: var(--colorPrincipal);
     position: sticky;
}

.navBar {
     display: flex;
     justify-content: center;
     width: 100%;
}

.nav-list {
     padding: 0;
     width: 80%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

.navBrand {
     margin-left: 5em;
     width: 40%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.nombreNav {
     font-weight: 700;
     font-size: 1.4em;
     color: var(--colorSecundario);
     text-align: center;
}

.nav-item a {
     color: var(--colorSecundario);
}

.subrayado {
     text-decoration: none;
     font-size: 1.1em;
     transition: .5s all ease-in-out;
     margin: 0 .6em;
     position: relative;
     display: inline-block;
}

.subrayado::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: var(--colorTerciario);
     transform: scaleX(0);
     transform-origin: bottom right;
     transition: transform .4s ease-out;
}

.subrayado:hover::after {
     transform: scaleX(1);
     transform-origin: bottom left;
}

.subrayado:hover {
     color: #94B6EF;
}

/* ----------------------- MAIN ---------------------*/

#bienvenida {
     padding: 2em;
     min-height: 100vh;
     background-color: var(--colorSecundario);
}

.presentacion {
     height: auto;
}

.titulo {
     font-size: 4.5rem;
     font-weight: 700;
     color: var(--colorPrincipal);
}

.contenedorTitulo {
     width: 75%;
     text-align: left;
     border-bottom: 1px solid #cbcbcb;
}

.contenedorInfo {
     margin-top: 2em;
}

.parrafoInicio {
     color: var(var(--colorSecundario));
     font-size: 1.2em;
}

.metodos {
     display: flex;
     padding-top: 2em
}

.accordion {
     width: 80%;
}

.metodosYDescuento {
     display: flex;
}

strong {
     color: var(--colorCuternario);
}

.contenedorRedesSociales {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     height: 100%;
}

.redesSociales {
     width: 100%;
     display: flex;
     justify-content: center;
     height: 4.5em;
     transition: .5s all ease-out;
}


.redes-list {
     width: 100%;
     padding: 0;
     margin: 0;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.redes-list li i {
     font-size: 2.5em;
     transition: .5s all ease-in-out;
}

.redes-list li i:hover {
     transform: translateY(-5px);
     transform: scale(1.1);
}

#acercaNosotros {
     min-height: 100vh;
     background: rgb(148,182,239);
     background: linear-gradient(0deg, rgba(148,182,239,1) 46%, rgba(244,242,239,1) 100%);
     padding: 2em;
}


.tituloSecundario {
     font-size: 5rem;
     font-weight: 700;
     color: var(--colorPrincipal);
}

.textoAbout  {
     text-align: justify;
     color: #303030;
     font-size: 1.2em;
}

#acercaNosotros strong {
     color: #303030;
     font-weight: 700;
}

.cursos {
     display: flex;
     padding-top: 1em;
}

.contenedorTarjetas {
     display: flex;
}

.tarjetaCurso {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     box-shadow:
     3.1px 12.5px 10px rgba(0, 0, 0, 0.05),
     25px 100px 80px rgba(0, 0, 0, 0.1)
     ;
     border-radius: 5px;
     overflow: hidden;
     border: 2px solid var(--colorPrincipal);
     height: 15em;
     width: 12em;
     background-color: var(--colorSecundario);
     margin-right: 3em;
     transition: .5s all ease-in;
}

.tarjetaCurso:hover {
     box-shadow:
     0.3px 2.2px 2.2px rgba(0, 0, 0, 0.065),
     0.8px 5.4px 5.3px rgba(0, 0, 0, 0.093),
     1.5px 10.1px 10px rgba(0, 0, 0, 0.115),
     2.7px 18.1px 17.9px rgba(0, 0, 0, 0.137),
     5px 33.8px 33.4px rgba(0, 0, 0, 0.165),
     12px 81px 80px rgba(0, 0, 0, 0.23)
     ;
}

.headerCurso {
     height: 40%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: end;
}

.headerCurso i {
     font-size: 1.3em;
}

.tituloCurso {
     font-weight: 700;
}

.bodyCurso {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 40%;
}

.footerCurso {
     display: flex;
     justify-content: flex-end;
     width: 100%;
     height: 20%;
}

.botonVer {
     font-weight: 700;
     width: 100%;
     border: none;
     background-color: var(--colorPrincipal);
     color: var(--colorSecundario);
     transition: .3s all ease-in;
}

.botonVer:hover {
     background-color: var(--colorCuternario);
     color: var(--colorPrincipal);
}

.tituloCursos {
     color: #303030;
     font-weight: 700;
     margin-bottom: .5em;
}

#inicioSesion {
     padding: 2em;
     height: 100vh;
     background: rgb(33,62,96);
     background: linear-gradient(0deg, rgba(33,62,96,1) 0%, rgba(148,182,239,1) 100%);
}

.login {
     height: 80%;
     display: flex;
     flex-direction: row;
}

.tituloLogin {
     font-size: 4rem;
     color: var(--colorPrincipal);
     font-weight: 700;
}

.parrafoLogin {
     font-size: 1.2em;
     color: #303030;
}

.parrafoLogin strong {
     color: #303030;
     font-weight: 700;
}

.columnaIzquierdaLogin {
     display: flex;
     align-items: center;
     width: 50%;
     height: 100%;
}

.columnaDerechaLogin {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}

.col-md-4 img {
     height: 100%;
}

.cardHeader .fa-user {
     font-size: 2em;
}

.card-body {
     display: flex;
     flex-direction: column;
}

.cardHeader {
     text-align: center;
}

form {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

footer {
     display: flex;
     flex-direction: column;
     height: auto;
}

.filaSuperiorFooter {
     padding: 2em;
     background-color: var(--colorCuternario);;
     display: flex;
     height: 90%;
     width: 100%;
}

.filaInferiorFooter {
     height: 30%;
}

#redes, 
#contacto {   
     width: 50%;
}

.redesFooter {
     height: 80%;
     width: 100%;
     padding: 0;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.redesFooter li i {
     font-size: 2em;
}


.ubicacionFooter {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 80%;
     width: 100%;
}

.mapa {
     border-radius: 5px;
     display: flex;
     align-items: center;
     height: 100%;
     width: 50%;
}

.filaInferiorFooter {
     background-color: var(--colorPrincipal);
     height: 8vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.derechosReservados {
     text-align: center;
     color: #fafafa;
}

#alertaUsuario, 
#alertaContraseña {
     color: rgb(134, 5, 5);
     transition: .5 all ease-in;
}

.card {
     max-width: 540px; 
     max-height: 20em;
}


/*------------------------- MEDIAS QUERIES-----------------------*/

@media screen and (max-width: 995px) {
     .login {
          flex-direction: column;
          justify-content: space-evenly;
          height: auto;
     }
     .columnaDerechaLogin {
          justify-content: right;
          align-items: flex-end;
     }
     .contenedorTitulo {
          width: 100%;
     }
}

@media screen and (max-width: 860px) {
     .nombreNav {
          font-size: 1.5em;
     }
}

@media screen and (max-width: 768px) {
     .titulo {
          font-size: 3.5rem;
     }
     .tituloLogin, .tituloSecundario {
          font-size: 3rem;
     }
     .nombreNav {
          font-size: 1.2em;
     }
     .navBar {
          width: 100%;
     }
     .navBrand {
          margin-left: 2em;
     }
     .nav-list {
          width: 100%;
     }
     .login {
          flex-direction: column;
          align-items: center;
     }
     .columnaIzquierdaLogin {
          width: auto;
          height: auto;
     }
     .card {
          width: 25em;
     }
     .col-md-4 img {
          display: none;
     }
     .columnaDerechaLogin img {
          height: 80%;
          width: 100%;
     }
}

@media screen and (max-width: 560px) {
     .filaSuperiorFooter {
          height: auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     #ubicacion,
     #redes {
          width: 100%;
          text-align: center;
     }
}

@media screen and (max-width: 676px) {
     .contenedorTarjetas {
          flex-direction: column;
          align-items: center;
     }
     .tarjetaCurso {
          width: 16em;
          margin: 2em;
     }
     .navBrand {
          display: none;
     }
     .metodos {
          flex-direction: column;
          height: 30em;
          justify-content: space-around;
     }
     .accordion {
          width: 100%;
     }
}

@media screen and (max-width:436px) {
     .card {
          width: 15em;
     }
     .nav-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .nav-item i {
          margin-bottom: 5px;
     }
} 